<p>counter management</p>
<div class="myDiv">
    <div class="counter">
      <h1>counter 1</h1> 
      <div class="column">
        <button type="button" class="but" (click)="onoffline('1')">{{statusword1}}</button>
      </div>
      <div class="column">
      <button type="button" class="but" (click)="comCurr('1')">Comp currr</button>
      </div>
      <div class="column">
      <button type="button" class="but" (click)="callNext('1')">Call Next</button>
      </div>
    </div>
    <div class="counter">
      <h1>counter 2</h1>       
      <div class="column">
        <button type="button" class="but" (click)="onoffline('2')">{{statusword2}}</button>
      </div>
      <div class="column">
      <button type="button" class="but" (click)="comCurr('2')">Comp currr</button>
      </div>
      <div class="column">
      <button type="button" class="but" (click)="callNext('2')">Call Next</button>
      </div>
    </div>
    <div class="counter">
      <h1>counter 3</h1> 
      <div class="column">
        <button type="button" class="but" (click)="onoffline('3')">{{statusword3}}</button>
      </div>
      <div class="column">
      <button type="button" class="but" (click)="comCurr('3')">Comp currr</button>
      </div>
      <div class="column">
      <button type="button" class="but" (click)="callNext('3')">Call Next</button>
      </div>
    </div>
    <div class="counter">
      <h1>counter 4</h1>
      <div class="column">
        <button type="button" class="but" (click)="onoffline('4')">{{statusword4}}</button>
      </div>
      <div class="column">
      <button type="button" class="but" (click)="comCurr('4')">Comp currr</button>
      </div>
      <div class="column">
      <button type="button" class="but" (click)="callNext('4')">Call Next</button>
      </div>
    </div>
  </div>